/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

h2{
    font-size: 40px;
    font-weight: bold;
    color: #00cc99;
    display: inline;
    padding: 10px;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: grey;
    display: inline;
}
.wrap{
    color:green;
    width: 1000px;
    margin: 0 auto;
}
.header{
    height: 477px;
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/bg_index.png)
}
.header-menu{
    background: rgb(240, 240, 240, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.header-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-list a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
.header-list a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 10px; /*底線跟字體間距*/
}
.header h1{
    font-size: 36px;
    font-weight: bold;
    padding: 60px;
    line-height: 80px;
    color: #00cc99;
}
.header .name{
    color: white;
}
.header-btnarea{
    padding: 0px 0px 0px 60px;
}
.header-btnarea input{
    background: #00cc99;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.header-btnarea input:hover{
    color: black;
}
.content-introduce{
    margin-top:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-btnarea input{
    font-size: 20px;
    font-weight: bold;
    color:#00cc99;
    background: white;
    padding: 10px 20px 10px 20px;
    border: 2px solid #00cc99;
    border-radius: 10px;
    cursor: pointer;
}
.content-btnarea input:hover{
    color: black;
}
.content-program ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.content-program .program-list{
    box-shadow: 0px 10px 10px gray;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-program .program-list h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}
.content-program .program-list p{
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
    color: grey;
}
h2{
    font-size: 40px;
    font-weight: bold;
    color: #00cc99;
    display: inline;
    padding: 10px;
}
p{
    font-size: 20px;
    font-weight: bold;
    color: grey;
    display: inline;
}
.content-difference table{
    width: 100%;
    margin-top: 30px;
}
.content-difference table th,td{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;    
}
.content-difference th{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}
.content-difference td{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}
.content-difference .advantage{
    color: #00cc99;
}
.footer{
    height: 300px;
    margin-top: 30px;
    background: #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-title h2{
    display: block;
    font-size: 30px;
    line-height: 70px;
    color: black;
}
.footer-form{
    margin-top: 50px;
}
.footer-form form{
    display: flex;
    flex-direction: column;
}
.footer-form-list input{
    padding: 10px 100px 10px 10px;
    margin: 10px 0px;
    border-color: #ebebeb;
    border: 0px;
    border-radius: 6px;
}
.footer-btnarea{
    display: flex;
    flex-direction: row-reverse;
}
.footer-btnarea input{
    margin-top: 20px;
    font-size: 20px;
    color: white;
    padding: 10px 50px 10px 50px; 
    background: #00cc99;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
.footer-btnarea input:hover{
    color: black;
}
.footer-menu{
    background: #323228;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    padding: 40px 0px 50px 40px;
    position: relative
}
.footer-logo img{
    display: block;
}
.footer-logo p{
    position: absolute;
    left: 105px;
    font-size: 15px;
}
.footer-list ul{
    display: flex;
    
}
.footer-list-fb{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/fb.png);
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    width: 35px;
    height: 35px;
    margin: 0px 10px;
}
.footer-list-twitter{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/tw.png);
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    width: 35px;
    height:35px;
    margin: 0px 10px;
}
.footer-list-ig{
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/mutiplePage/ig.png);
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    width: 35px;
    height: 35px;
    margin: 0px 10px;
}